<h1>New Note</h1>
  <form>
    <div class="form-group">
    <div class="form-group">
      <label for="comment">Enter note:</label>
      <textarea class="form-control" rows="5" id="comment" ng-model="newNote.content"></textarea>
    </div>
      <!-- TODO: Hook up this form to our JS for submitting -->
      <!-- <label>Task Description</label>
      <input ng-model="newTask.task" type="text" class="form-control" placeholder="Some important task" />
    </div> -->
    <!-- TODO: bind this button to a function -->
    <button  class="btn btn-default" ng-click="addNote()">Save</button>
  </form>